<header class="sidebar">
    <div class="logo">
        <a href="../">
            <img src="/assets/img/logo_bw.png" alt="Logo">
        </a>
    </div>

    <button class="nav-toggle" aria-label="Menü öffnen">
        ☰
    </button>

    <nav class="nav">
        <a href="../">Home</a>
        <a href="/klavierunterricht">Klavierunterricht</a>
        <a href="/inhalte">Inhalte</a>
        <a href="/korrepetition">Korrepetition</a>
        <a href="/ueber">Über mich</a>
        <a href="/faq">FAQ</a>
        <a href="/preise">Preise</a>
        <a href="/kontakt">Kontakt</a>
        <br>
        <a href="/datenschutz">Datenschutz</a>
        <a href="/impressum">Impressum</a>
    </nav>
</header>
