<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="../assets/css/background/ueber.css">
    </head>
    <body>
        <div class="layout">
            {% include "sidebar.njk" %}
            <main class="content">
                {{ content | safe }}
            </main>
        </div>
        <script src="/assets/js/nav.js"></script>
    </body>
</html>
